doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
  body
    div#foo
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand md-serve
    div.container
      div.row-fluid
        div.span3
          div.well
            ul.nav.nav-list
              each item in articles
                li
                  a(class='article', href='/article?ar=#{item.file}') #{item.title}
        div.span9
          block content
            h1#title
            div#content

    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/index.js')
